/*home blade css*/
    /*Basic css*/
        * {
            white-space: -moz-pre-wrap;
            word-wrap: break-word;
        }
        
        img {
            max-width: 100%;
            height: auto;
        }
        body{
            margin: 0;
            width: 100%;
            font-family: $font;
            background-color: $darkGrey;
        }
    /*header css*/
        header{
            height: 70px;
            width: 100%;
            background-color: $lighterdarkGrey;
        }
        .title{
            margin: 0;
            font-weight: 400;
            font-size: 44px;
            padding-left: 10px;
            color: $hoveringBlue;
        }
        /*nav css*/
            nav{
                position: absolute;
                top: 0px;
                right: 10px;
                padding-top: 15px;
                float: right;
            }
            ul{
                margin: 0;
                padding: 0;
                text-decoration: none;
                list-style-type: none;
                overflow: hidden;
            }
            a{
                color: #ffffff;
                text-decoration: none;
            }
            li{
                float: left;
                padding: 4px 18px;
                cursor: pointer;
            }
            
            li:hover > .hover_stripe{
                background: -webkit-gradient(linear, left top, right top, from($whaleBlue), to($blurple));
                background: linear-gradient(90deg, $whaleBlue 0%, $blurple 100%);
                background-color: #ffffff;
                transition-timing-function: ease;
                opacity: 1;
                width: 50px;
                transition: all 0.40s ease;
            }
            .active{
                width: 50px;
                height: 2px;
                margin: 0 auto;
                margin-top: 5px;
                background: -webkit-gradient(linear, left top, right top, from($whaleBlue), to($blurple));
                background: linear-gradient(90deg, $whaleBlue 0%, $blurple 100%);
                background-color: #ffffff;
            }
            
            .hover_stripe{
                width: 1px;
                height: 2px;
                margin: 0 auto;
                margin-top: 5px;
                opacity: 0;
                transition-timing-function: ease;
                transition: opacity 1s;
            }
    /*main css*/
        .review-container{
            position: relative;
            width: 100%;
            margin-top: 20px;
            color: $aBitOfGrey;
        }
        .reviewGedeelte{
            width: 200px;
            margin: 0 auto; 
        }
        .goedkeuren{
            background-color: $lighterdarkGrey;
            margin-bottom: 5px;
        }
        /*Container css*/
            .center{
                position: absolute;
                    top: 45%;
                    left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -45%);
                width: 250px;
                height: 150px;
                border-radius: 5px;
                background-color: $lighterdarkGrey;
            }
            .center-title{
                color: #ffffff;
                font-size: 22px;
                font-weight: 400;
                text-align: center;
            }
            .gradient{
                color: $hoveringBlue;
            }
            /*style for buttons*/
                .button{
                    display: block;
                    margin: 0 auto;
                    margin-top: 25px;
                    margin-bottom: 10px;
                    font-family: inherit;
                    width: 170px;
                    height: 50px;
                    background: linear-gradient(125deg, $whaleBlue, $blurple, $whaleBlue);
                    background-size: 200% 200%;
                    background-color: $whaleBlue;
                    color: #ffffff;
                    border: none;
                    border-radius: 25px;
                    font-size: 18px;
                    font-weight: 400;
                    transition: all 0.5s ease;
                }
                .button:hover{
                    transition: all 0.5s ease;
                    background-position: 100% 32%;
                    background-color: $hoveringBlue;
                    cursor:pointer;
                }
                .button:focus{
                    outline: none;
                }
        /*ilias code*/
            button{
                font-family: inherit;
            }
            button:active {
                outline: none;
                border: none;
            }
            button:focus{
                border: none;
                outline: none;
            }
        
            .nav-item-button{
                color: white;
                border: none;
                background: none;
                cursor: pointer;
                font-size: inherit;
            }
            .center{
                position: fixed;
                left: 70%;
            }