//fonts
    $font: Renner;

//colors
    $justWhite: #ffffff;
    $darkerBlue: #051542;
    $aBitOfGrey: #f1f1f1;
    $whaleBlue: #3966f0;
    $hoveringBlue: #5d81ec;
    $darkGrey: #242424;
    $lighterdarkGrey: #3b3b3b;
    $blurple: #673ed8;
    $puregreen: #38d111;
    $lightgreen: #18e64b;
    $purered: #dd1f1f;
    $lightred: #e65f36;
