//fonts
    $font: Renner;

//colors
    $darkerBlue: #051542;
    $aBitOfGrey: #f1f1f1;
    $whaleBlue: #3966f0;
    $hoveringBlue: #5d81ec;
    $darkGrey: #242424;
    $lighterdarkGrey: #3b3b3b;
    $blurple: #673ed8;